.DS_Store
.vite-ssg-dist
.vite-ssg-temp

*.local

dist
dist-ssr

node_modules

.idea/

*.log

# Exact folders (In case if target will be valid in some other place of project)
src-tauri/target/
src-tauri/crates/*/target/
src-tauri/crates/*/crates/*/target/
src-tauri/crates/schemes/*/target/
